body {
  padding: 0;
  margin: 0;
  font-family: Inter;
  display: flex;
  flex-direction: column;
}


/* menu section */
.navbar{
    position: absolute;
    background-color: #FF86A7;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 0;
    left: 0;
    color: whitesmoke;
}
.logo {
    position: relative;
    top: 5px;
    left: 30px;
    font-size: 30px;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: inherit;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-heavenly;
  flex-direction: row;
  right: 30px;
  gap: 100px;
    margin: 0px 150px 0 0;
    font-size: 20px;
}
.nav-links p:hover {
  color: #d61120;
}
.menu-btn {
    position: absolute;
    top: 13px;
    right: 30px;
    width: 30px;
    height: 30px;
}
.nav-links p:hover {
  color: #d61120;
}

/* banner section */
.img-bg {
  width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-image: url(./img/knife.png);
    background-position: bottom;
    background-size: cover;
}
.img-bg-left {
  width: 1100px;
  height: 325px;
  position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.4);
}
.img-bg-left > img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 500px;
  height: 25px;
  bottom:0px;
}
.img-bg-left > p {
  color: white;
  font-size: 18px;
  width: 95%;

  text-align: center;
  position: relative;
  bottom: 0px;
}

.img-bg-left1 {
  width: 1100px;
  height: 150px;
  position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.4);
}
.img-bg-left1 > img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 200px;
  height: 50px;
  bottom:0px;
  top: 10px;
}
.img-bg-left1 > p {
  color: white;
  font-size: 20px;
  width: 95%;

  text-align: center;
  position: relative;
  bottom: 0px;
}

.footer-links {
  width: 100%;
  height: 50px;
  background-color: #FF86A7;
  gap: 40px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 0px;
  color: white;
}
.footer-links p:hover {
  color: #d61120;
}



/* media query */

@media screen and (max-width: 1200px) {
  .img-bg > div > div:first-child {
    font-size: 70px;
  }

  .img-bg-left > div:nth-child(2) {
    font-size: 20px;
  }
}
@media screen and (max-width: 440px) {
  .img-bg > div > div:first-child {
    font-size: 30px;
  }

  .img-bg-left > div:nth-child(2) {
    font-size: 12px;
  }
    .img-bg-left {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-items: center;
    }
    .img-bg-left > .about {
        width: 10%;
        height: auto;
    }
    .img-bg-left > p {
        font-size: 12px;
        padding: 0 20px;
        text-align: center; 
    }
    .img-bg-left1 {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-items: center;
    }
    .img-bg-left1 > img {
        width: 150px;
        height: auto;
    }
    .img-bg-left1 > p {
        font-size: 12px;
        padding: 0 20px;
        text-align: center; 
    }
}

@media screen and (max-width: 950px) {
  .nav-links, .fm{
    display: none;
  }
    .img-bg-left {
        width: 100px;
        display: flex;
        align-items: center;
    }
    .img-bg-left > img {
        width: 300px;
        height: auto;
    }
    .img-bg-left > p {
        font-size: 12px;
        padding: 0 20px;
        text-align: justify;
    }

  .img-bg-left {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .footer-links {
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
  }
    .img-bg-left1 {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-items: center;
    }
    .img-bg-left1 > img {
        width: 150px;
        height: auto;
    }
    .img-bg-left1 > p {
        font-size: 12px;
        padding: 0 20px;
        text-align: center;
    }
}
